/*
List of Tags to Customize
h1, h2..
body
p
li
form?
form labels?
href
*/

html {
  height: 100%;
  width: 100%;
  cursor: url(../images/ducky.png)
}

body {
  background-image: url(../images/royalty-free-wallpaper.webp);
  color:darkblue;
  font-family: "Comic Sans", sans-serif ;
  font-weight: bold 
}

h1, h2 {
font-family: "Helvetica", sans-serif;
  color:lightblue;
  text-shadow: 3px 3px 3px darkblue;
  font-style:oblique;
}

p{
  color:blue;
}
